<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<h1>discover</h1>
<div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
    </div> 
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
          <li>
            <select class="select w-full max-w-xs">
                <option disabled selected>Pick your pass</option>
                <option>Ikon</option>
                <option>Epic</option>
                <option>Both</option>
                <option>None</option>
              </select>
          </li>
          <li>
            <label class="label cursor-pointer">
                <span class="label-text">Rating</span> 
                <input type="checkbox" class="toggle" checked/>
            </label>
          </li>
          <li>
            <label class="label cursor-pointer">
                <span class="label-text">Cost</span> 
                <input type="checkbox" class="toggle" checked/>
            </label>
          </li>
          <li>
            <label class="label cursor-pointer">
                <span class="label-text">Weather</span> 
                <input type="checkbox" class="toggle" checked/>
            </label>
          </li>
          <li>
            <label class="label cursor-pointer">
                <span class="label-text">Lift Lines</span> 
                <input type="checkbox" class="toggle" checked/>
            </label>
          </li>
        </ul>
      </div>
    </div>

<%- include ('../partials/footer') %>