<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<div class="bg-no-repeat bg-cover bg-center relative" style="background-image: url('https://wallpapercrafter.com/sizes/3840x2160/217473-snow-lift-at-a-ski-resort-in-kaprun-with-a-bulldoz.jpg');">
    <div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
        <div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
            <div class="self-start hidden lg:flex flex-col  text-white">
                <h1 class="mb-3 font-bold text-5xl intro">Welcome to SkiStats!</h1>
                <p class="pr-3 font-bold text-4xl intro">Login to your account.</p>
            </div>
        </div>
        <div class="flex justify-center self-center  z-10">
        <div class="p-12 bg-white mx-auto rounded-2xl w-100 " id="form-field">
                <div class="col"><%- include ('../partials/message') %></div>
                <div class="mb-4">
                    <h3 class="font-semibold text-2xl text-gray-800">Sign In </h3>
                    <p class="text-gray-500">Please sign in to your account.</p>
                </div>
                <form method="POST" action="/login">
                <div class="space-y-5">
                    <div class="space-y-2">
                        <label class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
                        <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="email" id="username" name="username" placeholder="mail@example.com">
                    </div>
                    <div class="space-y-2">
                        <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
                            Password
                        </label>
                        <input class="w-full content-center text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="password" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <div>
                        <button type="submit" class="w-full flex justify-center bg-blue-400  hover:bg-blue-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                            Sign in
                        </button>
                    </div>
                    <div class="text-sm" id="register-field">
                        <a href="/register" class="register-link">
                            Register an account.
                        </a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #form-field{
        box-shadow: 20px 20px 0px #93c5fd;
    }
    .intro {
        text-shadow: 3px 3px 0px #60a5fa;
    }
    .register-link {
        color: #60a5fa;
    }

    .register-link:hover {
        color: #3b82f6;
    }

    #register-field {
        display: flex;
        justify-content: center;
    }

    button {
        margin: auto;
    }
</style>

<%- include ('../partials/footer') %>