<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<main>
    <div class = "container" style="display: flex;
    justify-content: center;">
        <form method = "POST" action = "/profile">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure class="px-10 pt-10">
                    <div class="avatar placeholder">
                        <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
                          <span class="text-3xl">K</span>
                        </div>
                      </div>
                </figure>
                <div class="card-body items-center text-center">
                  <h2 class="card-title">Name</h2>
                  <p>Username</p>
                  <p>Home Address</p>
                  
                </div>
              </div>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>
