<input type="checkbox" id="modal-<%= id_num %>" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <label for="modal-<%= id_num %>" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="font-bold text-lg">Test Modal</h3>
        <p class="py-4">TESTING TESTING TESTING TESTING TESTING TESTING</p>
    </div>
</div>